body{
    text-align: center;
background-color: lightblue;
}

header {
    padding: 60px;
    text-align: center;
    background: #labc9c;
        color: white;
        font-size: 30px;
    text-decoration: underline;

}
center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
