body{
background-color: lightblue;

}

header {
    padding: 60px;
    background: #labc9c;
        color: white;
        font-size: 30px;
    text-decoration: underline;

}
h1 {
   text-align:center;
}

