body{
background-image: url("catgif.gif");

}

header {
    padding: 60px;
    background: #labc9c;
        color: red;
        font-size: 60px;
    text-decoration: underline;

}
h1 {
   text-align:center;
          color: red;
     font-size: 90px;
    
}
div{
    text-align: center;


 }
img {
  border-radius: 8px;
    height: 150px;
    width: 80px;
    transform: rotate(270deg);
}

.day {
   border-style: dotted;
   background-color: #cffc03;
}
.reading{ 
    background-color: #03fc94;
}
.assignment-label{
    background-color: #03fcc2;
}
.username{
    background: #f4fc03;
}
.grade{
    background: #03dffc;
}
.prep-box{
    background: #0398fc;
}

.skip this lab{
     background:#f803fc;
}
    

    

