body{
background-image: url("background 5.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
 
    
    
    
}

header {
    padding: 60px;
    background: #labc9c;
        color: red;
        font-size: 60px;
    text-decoration: underline;
    a:hover{color:blue;
    
    }

}
h1 {
   text-align:center;
          color: blue;
     font-size: 90px;
     text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
}
div{
    
    font-family: Stencil Std, fantasy;
    text-align: center;

 }
img {
  border-radius: 8px;
    height: 100px;
    width: 80px;
    transform: rotate(270deg);
}

body > div.day-box.PREP{ 
    height: 200px;
    width: 400px;
    background-color:#ccffff;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
}

body > div.day-box.CURRENT{
    height: 200px;
    width: 400px;
    background-color:#ccf2ff ;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
    
}

body > div:nth-child(8){
    height:310px;
    width:400px;
    background-color:#cce6ff;
    border-radius: 10px;
    margin: auto;
}
body > div:nth-child(9){
    height: 300px;
    width: 400px;
    background-color:#ccd9ff;
    border-radius: 10px;
    margin: auto;
}

body > div:nth-child(10){
    height: 250px;
    width: 400px;
    background-color:#ccccff;
    border-radius: 10px;
    margin: auto;
}

body > div:nth-child(11){
    height: 300px;
    width: 400px;
    background-color:#d9ccff;
    border-radius: 10px;
    margin: auto;
}
body > div:nth-child(12){
    height: 120px;
    width: 400px;
    background-color:#e6ccff;
    border-radius: 10px;
    margin: auto;
}
body > div:nth-child(13){
    height: 50px;
    width: 400px;
    background-color:#f2ccff;
    border-radius: 10px;
    margin: auto;
}
body > div:nth-child(6){
    background-color:#00ffff ;
    height: 200px;
    border-radius: 25px;
    width: 1050px;
    margin: auto;
   
}

body > table:nth-child(7){
     height: 40px;
    width: 300px;
    background-color:#ccffff;
    border-radius: 10px;
    margin: auto;
}
body > div.header > div.nav {
    width: 400px;
    background-color:#5F9EA0;
    border-radius: 25px;
    margin: auto;
}
body > div.assignment-title {
    width: 400px;
    background-color: #66ffff;
    border-radius: 10px;
    margin: auto;
}
body > form {
    background-color:#4dffff;
    width: 700px;
    border-radius: 10px;
    margin: auto;
}
body > table:nth-child(11) {
    background-color: #00ffff;
    border-radius: 10px;
    margin: auto;
}
body > table:nth-child(10) {
    background-color: #f2ccff;
    width: 300px;
}
   














